#search-container{
    margin: 0 auto;
    text-align: center;
}

/* .thumbnail-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 20px;
    margin: 0 auto;
} */
#alert {
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    background-color: grey;
    justify-content: center;
}
input[type=text] {
    width: 100px;
  -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
  
  input[type=text]:hover {
    width: 300px;
  }

 